body{
	background-image: url('Index.jpg');
	max-width: 100%;
	height: 600px;
	color: white;
	background-size: cover;
	padding: 2%;
	margin: 1%;
	opacity: 4;
	
}
nav .nav-bar ul{
	margin: 20px;
	display: flex;
	justify-content: flex-end;
   list-style: none;
}
nav ul li{
	text-decoration: none;
	padding: 10px;
	font-family: verdana;
}
nav ul li a{
	text-decoration: none;
	padding: 10px;
	color: black;
	
}
.nav-bar ul li a:hover{
	border: solid blue;
	background-color: black;
	color: brown;
	transition: .4s;
}
section .Homepage{
	display: flex;
}
section .main{
	padding: 30px;
	width: 40%;
	color:black;
	text-align: left;
	text-decoration: none;*/
    font-size: 20px;
    font-weight: bold;
    box-sizing: border-box;
}

section .main a{
	
	
	color: black;
	font-size: 20px;
	padding: 100px;
}
footer{
	display: flex;
}
footer p{
 color: green;
 font-weight: bold;
 font-family: verdana;
 padding: 10%;
 margin-left: 60%;
 margin-top: 15%;
}
@media screen and (max-width: 700px){


nav .nav-bar ul{

	flex-direction: column;
	
}
section .Homepage{
	flex-direction: column;
	margin-top: -20%;
	padding: -20%;
}
footer{
	flex-direction: column;
}
}